<ion-view view-title="Product">
  <ion-content>
    <div ng-controller="ProductController as product">
    	<div class="list card">
    		<div class="item item-text-wrap">
    			<h3>{{pTitle}}</h3>
    		</div>
    		<div class="item item-body">
    			<img width="60%" class="full-image" ng-src="{{imageUrl}}" />
    			<p>{{description}}</p>
                <p>Amazon Price: {{price}}</p> 
    		</div>


<button class="button icon-right ion-chevron-right button-balanced" ng-click="getInfo()">Ok</button>



      
    </div>

  </ion-content>
</ion-view>
