<ion-view >
  	<ion-content ng-controller="ScannerController as scanner" class="padding">
	    <div class="spacer"></div>
	    <button class="button button-block icon-right ion-ios-barcode button-positive" ng-click="scanner.scanBarcode()">Scan Item</button>
	    
	    <div ng-show ="infocard" class="card">
	    	<div ng-model="pTitle" class="item item-text-wrap"> 
	    		{{pTitle}}
	    		<p ng-show="showPrice">Price entered: €{{price}}</p> 
	    		<p ng-show="showNewLocation">Location: {{location.name}}</p> 
	    	</div>
	    </div>


	    <div ng-show="priceEntry" class="list">
	    	Please enter the price you see:
			<div class="item item-input-inset">
    			<label class="item-input-wrapper">
      				<input type="text" id="price" ng-model="money" currency-input size="200" placeholder="Price"></input>
    			</label>
    			<button ng-click="submitPrice()" class="button button-small">
     				<h3>Go</h3>
    			</button>
			</div>
		</div>


	    <div ng-show="showLocation">
	    	Please select your current location: 
	    	<label class="item item-input item-select">
		    	<div class="input-label">
	      			Location
	    		</div>
	    	
				<select ng-model="location" ng-change="newLocation()" ng-options="result.name for result in results">
					<option value="">Other</option>
				</select>
			</label>
	    </div>
	    <div ng-show="submitButtons">
	    	<button class="button icon-right ion-ios-undo button-assertive" ng-click="reset()">Reset</button>
	    	<button class="button icon-right ion-chevron-right button-balanced" ng-click="submitInfo()">Ok</button>
	    </div>

	</ion-content>
</ion-view>
